body {
    font-family: font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
  }
.bartop {
    font-family: 'Barlow', sans-serif;
    background: #333;
    color: white;
    width: 100%;
    margin: auto;
  }

.barbottom {
    font-family: 'Barlow', sans-serif;
    background: rgb(117, 116, 116);
    color: white;
    width: 100%;
    margin: auto;
  }
  
.sidenav {
    max-width: 10px;
}

.responsive {
  width: 100%;
}
