body {
    font-family:'Barlow', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
  }

.top-header {
    padding: 60px;
    text-align: center;
    background-color: dimgray;
    color: white;
    font-size: 30px;
  }

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightgrey;
    color: black;
    text-align: center;
    padding: 5px;
  }

 .top-nav {
   background: rgb(204, 0, 0);
   color: white;
   margin-bottom: 20px;
 } 

 a:hover { 
  background-color: dimgray;
}

.hover-box {
  background-color: rgb(58, 57, 57);
}


.sidenav {
    max-width: 10px;
}
.sidnav-color {
  color: dimgray !important; 
}

.responsive {
  width: 100%;
}
.color-red {
  color: rgb(204, 0, 0);
}
.left {
  float: left;
}

img {
  margin-bottom: 20px;
}

.image-two {
  float: left;
  margin-right: 20px;
}
.condensed {
  font-family: 'Barlow Condensed', sans-serif;
}
.nav-text {
  color: gray
}

.active {
  background-color: black;
}
.form-center {
  margin: auto
}