body {
    font-family: font-family: 'Barlow', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
  }

.top-header {
    padding: 60px;
    text-align: center;
    background-color: dimgray;
    color: white;
    font-size: 30px;
  }

.footer {
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(204, 0, 0);
    color: white;
    text-align: center;
    padding: 30px;
  }

 .top-nav {
   background: rgb(204, 0, 0);
   color: white;
   margin-bottom: 20px;
 } 

.sidenav {
    max-width: 10px;
}

.responsive {
  width: 100%;
}
.color-red {
  color: rgb(204, 0, 0);
}
